<div style="height: 100vh; width: 100vw;" layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
        <md-toolbar class="md-tall">
            <span flex=""></span>
            <div class="md-toolbar-tools">
				<div layout="column" ng-if="user.hasName">
					<h2>{{user.name}}</h2>
					<p class="md-body-1" style="margin: 0;">{{user.username}}</p>
				</div>
				<h2 ng-if="!user.hasName">{{user.username}}</h2>
                <span flex=""></span>
            </div>
        </md-toolbar>
        <md-content>
            <!-- TODO: sidebar nav content -->
            <!--	TODO: list accounts -->
            <!--	TODO: place directory tree -->
            <section>
                <md-subheader class="md-primary">Accounts</md-subheader>
                <md-list layout-padding>
                    <md-list-item class="md-2-line" ng-repeat="account in user.accounts">
                        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
                        <div class="md-list-item-text">
                            <h3>{{account.type}}</h3>
                            <h4>{{account.username}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </md-sidenav>
    <div layout="column" flex="">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Navigation" ng-click="toggleSidenav()" hide-gt-md>
                    <md-icon md-svg-icon="Views/img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>CloudView</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content class="md-padding" layout="column" layout-align="center center" flex="">
            <!-- TODO: stuff goes here -->

        </md-content>
    </div>
</div>
