<md-dialog aria-label="Add Account">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add Account</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="./Views/img/icons/ic_close_48px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content" style="min-width: 500px; min-height: 300px;">
				<div id="google-signin"></div>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>
